@charset "UTF-8";

*, *::before, *::after {
-webkit-box-sizing: border-box;
box-sizing: border-box
}

/*img*/
header {
    display: flex;
}

.imglog img {
    border-radius: 50%;
    background-color: lightgrey;
}

.top img {
    width: 100%;
}

/*nav*/
#navi ul {
    list-style-type: none;
    text-decoration: underline;
    margin: 0;
    padding: 0;
    display: flex;
}
#navi ul li {
    display: block;
    padding: 5px 20px;
}


/*section*/
